smartlink/Multiple_Interceptor.json
[
    {
        "id": "33a9d0831f77096c",
        "type": "tab",
        "label": "multiple",
        "disabled": false,
        "info": "",
        "env": [],
        "dbPanelCode": "",
        "extensionId": "5580931a-510f-409e-97cd-bb92bd75a32c"
    },
    {
        "id": "ce1b47ebef9dc18e",
        "type": "group",
        "z": "33a9d0831f77096c",
        "name": "Single Interceptor",
        "style": {
            "label": true
        },
        "nodes": [
            "bd2bc54a60adb379",
            "8705e5af873c98ea",
            "9c78f11203448003",
            "797f92a7ffb662a6"
        ],
        "x": 94,
        "y": 79,
        "w": 732,
        "h": 162
    },
    {
        "id": "dd01ed35207b858d",
        "type": "group",
        "z": "33a9d0831f77096c",
        "name": "Multiple Interceptor",
        "style": {
            "label": true
        },
        "nodes": [
            "f7e2665c717487d8",
            "f3a8c91f68ca5e70",
            "e421c18979cfbf94",
            "416e4e47270d0eef"
        ],
        "x": 94,
        "y": 339,
        "w": 732,
        "h": 162
    },
    {
        "id": "bd2bc54a60adb379",
        "type": "DBPanel Interceptor",
        "z": "33a9d0831f77096c",
        "g": "ce1b47ebef9dc18e",
        "tableName": "TIPO_ACOMOD_DIFERENCA",
        "name": "TIPO_ACOMOD_DIFERENCA",
        "url": "",
        "view": "26578",
        "executionOrder": "2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "8705e5af873c98ea",
                "9c78f11203448003"
            ]
        ]
    },
    {
        "id": "8705e5af873c98ea",
        "type": "debug",
        "z": "33a9d0831f77096c",
        "g": "ce1b47ebef9dc18e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "9c78f11203448003",
        "type": "function",
        "z": "33a9d0831f77096c",
        "g": "ce1b47ebef9dc18e",
        "name": "function 1",
        "func": "msg.payload.abortMessage = \"Teste\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "797f92a7ffb662a6"
            ]
        ]
    },
    {
        "id": "797f92a7ffb662a6",
        "type": "debug",
        "z": "33a9d0831f77096c",
        "g": "ce1b47ebef9dc18e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "f7e2665c717487d8",
        "type": "DBPanel Interceptor",
        "z": "33a9d0831f77096c",
        "g": "dd01ed35207b858d",
        "tableName": "TIPO_ACOMOD_DIFERENCA",
        "name": "TIPO_ACOMOD_DIFERENCA",
        "url": "",
        "view": "26578",
        "executionOrder": "1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "f3a8c91f68ca5e70",
                "e421c18979cfbf94"
            ]
        ]
    },
    {
        "id": "f3a8c91f68ca5e70",
        "type": "debug",
        "z": "33a9d0831f77096c",
        "g": "dd01ed35207b858d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "e421c18979cfbf94",
        "type": "function",
        "z": "33a9d0831f77096c",
        "g": "dd01ed35207b858d",
        "name": "function 2",
        "func": "msg.payload.abortMessage = \"Teste - Multiple Interceptor\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "416e4e47270d0eef"
            ]
        ]
    },
    {
        "id": "416e4e47270d0eef",
        "type": "debug",
        "z": "33a9d0831f77096c",
        "g": "dd01ed35207b858d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    }
]
